
body{
  text-align: center;
  color: #000f08;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body * {
  margin: 0;
  border: 0;
  padding: 0;
}

h1 {
  font-weight: 800;
  font-size: 3.75em;
  margin-bottom: 0.25em;
}

h2 {
font-weight: 700;
font-size: 2.5 em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5{
  font-size: 1.25em;
}

.subtitulo, h4, h5{
  font-weight: 400;
}

#ubicacion h2 {
  margin: 1em auto;
}

.sweet-brown h3, .sweet-brown h5 {
  margin-bottom: 0.5em;
}

#eventos h2 {
  margin-bottom: 1em;
}

#eventos h3 {
  margin: 1em auto;
}

.oscuro{
  background: #000f08;
  color: #ffffff ;
}

.oscuro a {
  color: #ffffff;
  text-decoration: none;
}

.sweet-brown {
  text-align: left;
  background: #a4452c;
  color: #ffffff;
  padding: 50px;
  white-space: nowrap;
}

.hero-section {
  text-align: right;
  background-image: url(../img/bg-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  padding: 6.25rem 3.125rem;
}

section, footer {
  margin-top: 4.5rem;
}

footer {
  padding: 3.125rem;
}

.charla-texto, .evento {
  display: inline-block;
}

.centrado {
  width: 75%;
  margin: 0 auto;
}

.chrla-speaker, .charla-texto, .evento {
  display: inline-block;
}

.charla-speaker {
  width: 25%;
  vertical-align: middle;
}

.charla-texto {
  width: 70%;
  vertical-align: middle;
  margin-left: 5%;
  white-space: normal;
}

article {
  width: 30%;
}

article img {
  width: 75%;
}

nav {
  text-align: left;
  padding: 1.25rem 4rem;
  position: fixed;
  width: 100vw;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;
}

.icono{
  width: 2rem;
}

.icono svg {
  fill: #ffffff;
}

footer i {
  margin: 0 0.25em 0.5em 0.25em;
}

.evento a {
  text-decoration: none;
  color: #000000;
}

.vegancontent {
  width: 56vw;
  border: 0;
  padding-top: 12rem;
  margin-top: 0;
  margin-bottom:7.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.vegancontent img {
  margin: 0;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  width: 100%;

}

.metamorfosis {
  margin:0;
  padding-bottom: 0;
}

.gregorio h3 {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
